{% extends 'base.html' %}

{% block content %}
    <h1>Files and Folders</h1>
    <ul>
        {% for folder in folders %}
            <li>{{ folder.name }} (Folder) <a href="{% url 'files:delete_folder' folder.pk %}">Delete</a></li>
        {% endfor %}
        {% for file in files %}
            <li>{{ file.name }} (File) <a href="{% url 'files:download' file.pk %}">Download</a><a method="post" href="{% url 'files:delete_file' file.pk %}">Delete file</a></li>
        {% endfor %}
    </ul>
{% endblock %}